@inherits LayoutComponentBase

<PageTitle>LaVillaHotelBookingSystem</PageTitle>
<dv class=" d-flex visually-hidden-focusable top-row bg-transparent">
    <a>
        abc
    </a>
</dv>
 <NavMenu /> 
     

 <div class="d-flex w-76 m-5">
      <main>
   
     @Body
    </main>
    
 </div>

 @code{
     
 }